<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Salvo</title>
    <link rel="stylesheet" href="gamestyle.css">
</head>

<body>

<div id="main">

    <p id="status"></p>

    <div id="login_container">
        <label v-if="!loggedIn">Name: <input id="username" type="text" name="username"></label>
        <label v-if="!loggedIn">Password: <input id="password" name="password"></label>
        <button v-if="!loggedIn" @click="login">Sign in</button>
        <button v-if="!loggedIn" @click="signup">Sign up</button>

        <button v-if="loggedIn" @click="logout">Sign out</button>
        <button v-if="loggedIn" @click="createGame">New Game</button>
    </div>

    <div v-if="loggedIn">
        <ul v-for="item in games.games">
            <li v-if="username === item.gamePlayers[0].name || username === item.gamePlayers[1].name">
                <a v-if="item.gamePlayers[1] !== undefined && username === item.gamePlayers[0].name" v-bind:href="'game.html?gp=' + item.gamePlayers[0].gpid">
                    {{ item.id }} {{ item.created }} {{ item.gamePlayers[0].name }} vs {{ item.gamePlayers[1].name }}
                </a>
                <a v-if="item.gamePlayers[1] !== undefined && username === item.gamePlayers[1].name" v-bind:href="'game.html?gp=' + item.gamePlayers[1].gpid">
                    {{ item.id }} {{ item.created }} {{ item.gamePlayers[0].name }} vs {{ item.gamePlayers[1].name }}
                </a>
                <a v-if="item.gamePlayers[1] === undefined" v-bind:href="'game.html?gp=' + item.gamePlayers[0].gpid">
                    {{ item.id }} {{ item.created }} {{ item.gamePlayers[0].name }} vs NO_PLAYER
                </a>
            </li>
            <li v-else="username !== item.gamePlayers[0].name || username !== item.gamePlayers[1].name">
                <p v-if="item.gamePlayers[1] !== undefined">
                    {{ item.id }} {{ item.created }} {{ item.gamePlayers[0].name }} vs {{ item.gamePlayers[1].name }}
                </p>
                <p v-if="item.gamePlayers[1] === undefined">
                    {{ item.id }} {{ item.created }} {{ item.gamePlayers[0].name }} vs NO_PLAYER
                </p>
            </li>
        </ul>
        <table>
            <tr>
                <th>Name</th>
                <th>Total</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </tr>
            <tr v-for="data in gameData">
                <td>{{ data.player }}</td>
                <td>{{ data.total }}</td>
                <td>{{ data.wins }}</td>
                <td>{{ data.losses }}</td>
                <td>{{ data.ties }}</td>
            </tr>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="leaderboard.js"></script>
</body>

</html>
