body {
    font-family: sans-serif;
    background-image: url("background.jpg");
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

body,
html {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 30px;
}

th {
    text-align: left;
}

td,
th {
    height: 50px;
    width: 50px;
}

p {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 1.5em;
    color: #525252;
}

.box {
    background: transparent;
    width: 300px;
    margin: 0 auto 0 auto;
    margin-top: 15%;
    padding: 0px 0px 70px 0px;
}

.login-header {
    color: white;
}

.email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    background-color: white;
}

.password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}

.btn {
    background: #2ecc71;
    width: 129px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn:hover {
    background: #2CC06B;
}

#btn2 {
    float: left;
    background: #3498db;
    width: 129px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: 800;
    font-size: 0.8em;
}

#btn2:hover {
    background: #3594D2;
}