<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo</title>
    <link rel="stylesheet" href="gamestyle.css">
</head>

<body>

<div id="main">

    <p id="status"></p>

    <div id="login_container">
        <label v-if="!loggedIn">Name: <input id="username" type="text" name="username"></label>
        <label v-if="!loggedIn">Password: <input id="password" type="password" name="password"></label>
        <button v-if="!loggedIn" @click="login">Sign in</button>
        <button v-if="!loggedIn" @click="signup">Sign up</button>

        <button v-if="loggedIn" @click="logout">Sign out</button>
        <button v-if="loggedIn" @click="createGame">New Game</button>
    </div>

    <div v-if="loggedIn">
        <table>
            <tr>
                <th>Start Time</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Manage</th>
            </tr>
            <tr v-for="item in games.games">
                <td>{{ item.created }}</td>
                <td>{{ item.gamePlayers[0].name }}</td>
                <td v-if="item.gamePlayers[1] !== undefined">{{ item.gamePlayers[1].name }}</td>
                <td v-else="item.gamePlayers[1] === undefined"> -</td>

                <td v-if="item.gamePlayers.length === 2"> Full</td>
                <td v-else="item.gamePlayers.length == 1">
                    <button onclick="main.joinGame(this)" :data-game="item.id">Join</button>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Name</th>
                <th>Total</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </tr>
            <tr v-for="data in gameData">
                <td>{{ data.player }}</td>
                <td>{{ data.total }}</td>
                <td>{{ data.wins }}</td>
                <td>{{ data.losses }}</td>
                <td>{{ data.ties }}</td>
            </tr>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="leaderboard.js"></script>
</body>

</html>
