body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 30px;
}

th {
    text-align: left;
}

td, th {
    height: 50px;
    width: 50px;
    border-bottom: 0.2px solid lightgray;
}