body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 40%;
    margin-bottom: -800px;
}

td {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: darkgray;
    border-width: medium;
}

#enemy {
    float: right;
}

#gameInfo {
    background-color: darkcyan;
    width: 40%;
    height: 30px;
    margin-left: 30%;
    border-radius: 10px;
    padding-top: 15px;
}
