body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.content table {
    border-collapse: collapse;
    width: 40%;
    margin-bottom: -800px;
    color: gray;
}

.content td {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: darkgray;
    border-width: thin;
}

#enemy {
    float: right;
}

/* #showShips {

} */

#showShips th {
    float: left;
}

#showShips td {
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: darkgray;
    border-width: thin;
    background-color: lightgray;
}

#gameInfo {
    background-color: darkcyan;
    width: 40%;
    height: 30px;
    margin-left: 30%;
    border-radius: 10px;
    padding-top: 15px;
    text-align: center;
    color: white;
}

#showShips {
    text-align: center;
}


.add {
    margin-left: 15px;
    /* margin-top: 850px; */
}

.add2 {
    /* margin-top: -160px; */
    margin-left: 400px;
}

.onoffswitch {
    margin-top: 10px;
    margin-left: 15px;
    border: 5px solid darkgray;
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.submitContainer {
    width: 100%;
    height: 200px;
    margin-top: 830px;
}

.submitShips {
    background-color: green;
    color: white;
    margin-left: 15px;
    height: 40px;
    width: 39%;
    margin-bottom: 10px;
}

.submitSalvos {
    background-color: green;
    color: white;
    height: 40px;
    width: 39%;
    margin-bottom: 10px;
    font-weight: bold;
    float: right;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "VER";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "HOR";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
